<div id="comment-<%= comment.id %>">
  <%= link_to user_path(comment.user) do %>
    <%= render 'partials/avatar', user: comment.user, klass: 'avatar' %>
  <% end %>
  <%= comment.content %>
  <%= relative_time(comment.created_at) %>
</div>
