<%= form_tag posts_path, method: :post, remote: true do %>
  <div class="form-group">
    <%= text_area_tag 'post[content]', nil, id: 'new-post', class: 'form-control', placeholder: 'Write tips..' %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= autocomplete_field_tag :autocomplete_category_name, "", autocomplete_category_name_categories_path, class: "form-control", placeholder: "+ Add Categories.." %>
        <%= hidden_field_tag :category_name, "", name: "category[name]", placeholder:"Category Name", id: "category_name", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= submit_tag 'Submit', id: 'post', class: 'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="categories">
    </div>
  </div>
<% end %>
