<%= link_to user_path(current_user) do %>
  <%= render 'partials/avatar', user: current_user, klass: 'avatar' %>
<% end %>
<ul>
  <li><%= link_to '2 cents', root_path %></li>
  <li><%= link_to 'Favorites', root_path %></li>
  <li><%= link_to 'Upvotes', root_path %></li>
  <li><%= link_to 'Downvotes', root_path %></li>
  <li><%= link_to 'Location', root_path %></li>
</ul>
