<ul class="nav nav-pills">
  <li class="<%= type=='2cents' ? 'active' : ''%>">
    <%= link_to "2 cents", user_path(@user) %>
  </li>
  <li class="<%= type=='favorites' ? 'active' : ''%>">
    <%= link_to "Favorites", favorites_user_path(@user) %>
  </li>
  <li class="<%= type=='upvotes' ? 'active' : ''%>">
    <%= link_to "Upvotes", upvotes_user_path(@user) %>
  </li>
  <li class="<%= type=='downvotes' ? 'active' : ''%>">
    <%= link_to "Downvotes", downvotes_user_path(@user) %>
  </li>
</ul>
<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-default' %>
<% end %>
