<div class="post">
  <div class= "well">
    <div id="post-<%= post.id %>" class="row">
      <div class="col-md-1">
        <div id="upvote-downvote-<%= post.id %>">
          <%= render 'partials/upvote_downvote', post: post %>
        </div>
      </div>
      <div class="col-md-9 main-post-content" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= post.id %>" aria-expanded="true" aria-controls="collapse-<%= post.id %>">
        <h4><%= post.content %></h4>
      </div>
      <div class="col-md-2 favorite">
        <div id="favor-post-<%= post.id %>">
          <%= render 'favorites/favorite', post: post %>
        </div>
      </div>
    </div>
    <br>
    <div id="collapse-<%= post.id %>" class="row panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= post.id %>">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-map-marker"><%= post.location %></span>
      </div>
      <div class="col-md-4 expand-text">
        <%= relative_time(post.created_at) %>
      </div>
      <div class="col-md-4 expand-text">
        Post By <%= link_to post.user do %>
          <%= render 'partials/avatar', user: post.user, klass: 'avatar-sm' %>
          <%= post.user.first_name %> @<%= post.user.username %>
        <% end %>
      </div>
    </div>
  </div>
</div>
