<div class="post">
  <div class= "well">
    <div id="post-<%= post.id %>" class="row">
      <div class="col-md-1">
        <%= link_to post.user do %>
          <%= render 'partials/avatar', user: post.user, klass: 'avatar-sm' %>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="voting">
          <div id="upvote-downvote-<%= post.id %>">
            <%= render 'partials/upvote_downvote', post: post %>
          </div>
        </div>
      </div>
      <div class="col-md-8 main-post-content" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= post.id %>" aria-expanded="true" aria-controls="collapse-<%= post.id %>" onclick="show_voting(this)">
        <p><%= post.content %></p>
      </div>
      <div class="col-md-2 favorite">
        <div id="favor-post-<%= post.id %>">
          <%= render 'favorites/favorite', post: post %>
        </div>
        <!-- <span class="glyphicon glyphicon-star-empty" style="min-height:30px;min-width:30px;"></span>
    <span class="glyphicon glyphicon-star" style="min-height:30px;min-width:30px;display:none;"></span> -->
      </div>
    </div>
    <br>
    <div id="collapse-<%= post.id %>" class="row panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= post.id %>">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-map-marker"><%= post.location %></span>
      </div>
      <div class="col-md-4 expand-text">
        <%= relative_time(post.created_at) %>
      </div>
      <div class="col-md-4 expand-text">
        Post By <%= post.user.first_name %> @<%= post.user.username %>
      </div>
    </div>
  </div>
</div>
