<div id="post-<%= post.id %>" class="row">
  <div class="col-lg-1">
    <%= link_to post.user do %>
      <%= render 'partials/avatar', user: post.user, klass: 'avatar' %>
    <% end %>
  </div>
  <div class="col-lg-8">
    <h5><b><%= post.user.first_name %></b> @<%= post.user.username %></h5>
    <span><%= post.content %></span>
  </div>
  <div class="col-lg-3">
    <%= relative_time(post.created_at) %>
  </div>
  <div class="col-lg-12">
    <div id="vote-downvote-<%= post.id %>">
      <%= render 'partials/vote_downvote', post: post %>
    </div>
    <div id="favor-post-<%= post.id %>">
      <%= render 'favorites/favorite', post: post %>
    </div>
  </div>
</div>
<br>
