<%= render 'partials/navbar_home' %>
<div class="container-fluid page-content">
  <div class="row">
    <div class="col-md-12 main">
      <div class="row">
        <%= render 'partials/sidebar_profile' %>
        <div class="post">
          <div class="col-md-7 col-md-offset-1">
            <div class="well">
              <div id="post-<%= @post.id %>" class="row">
                <div class="col-md-1">
                  <div id="upvote-downvote-<%= @post.id %>">
                    <%= render 'partials/upvote_downvote', post: @post %>
                  </div>
                </div>
                <div class="col-md-9">
                  <h3><%= @post.content %></h3>
                </div>
                <div class="col-md-2">
                  <div id="favor-post-<%= @post.id %>">
                    <%= render 'favorites/favorite', post: @post %>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <span class="glyphicon glyphicon-map-marker"></span> <%= @post.location %>
                    <span id="fav-count-<%= @post.id %>" style="margin-left: 5px;"><%= @post.favorites_count %></span> <span class="glyphicon glyphicon-star sm-star"></span>
                    <span style="margin-left: 5px;"><%= @post.comments_count %></span> <span class="glyphicon glyphicon glyphicon-comment"></span>
                  </div>
                  <div class="col-md-7">
                    <%= relative_time(@post.created_at) %> | 
                    Posted by <%= link_to @post.user do %>
                      @<%= @post.user.username %>
                    <% end %>
                  </div>
                </div>
              </div>
              <hr>
              <div id="comments">
                <h4>Comments</h4>
                <hr>
                <%= render(@comments) || "No Comments" %>
              </div>
              <%= render 'partials/new_comment', post: @post %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
